.user_icon:hover{
	color: rgba(86, 140, 226, 0.8);
}

.controls{
	display:  flex;
	margin: 5px;
	justify-content: space-between;
	align-items: center;
}

.empty-data{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

.avatar{
    max-width: 25%;
    max-height: 25%;
}

.list-cell{
    text-align: center;
    vertical-align: middle !important;
}